@model ElectronicStoreModels.Models.Cart
@using ElectronicStoreModels

@{
    ViewData["Title"] = "Delete Cart Item";
}

<h1>Remove Cart Item</h1>

<h3>Are you sure you want to remove this cart item for @Model.Customers.CustomerName?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Products.ProductName) for @Html.DisplayFor(model => model.Customers.CustomerName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            Product Price
        </dt>
        <dd class="col-sm-10">
            CAD @Model.Products.ProductPrice.ToString("F")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CartQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CartQuantity)
        </dd>
        <dt class="col-sm-2">
            Total Price
        </dt>
        <dd class="col-sm-10">
            CAD @Calculations.TotalPrice(Model.Products.ProductPrice, Model.CartQuantity).ToString("F")
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CartId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
