@model ElectronicStoreModels.Models.Cart
@using ElectronicStoreModels

@{ ViewData["Title"] = "Cart Item Details"; }

<h1>Cart Item Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Products.ProductName) for @Html.DisplayFor(model => model.Customers.CustomerName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Product
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            Product Price
        </dt>
        <dd class="col-sm-10">
            CAD @Model.Products.ProductPrice.ToString("F")
        </dd>
        <dt class="col-sm-2">
            Customer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CartQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CartQuantity)
        </dd>
        <dt class="col-sm-2">
            Total Price
        </dt>
        <dd class="col-sm-10">
@*Display total price for item*@
            CAD @Calculations.TotalPrice(Model.Products.ProductPrice, Model.CartQuantity).ToString("F")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CartId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
