@model ElectronicStoreMVC.Models.CartViewModel

@{
    ViewData["Title"] = "Maintain Cart";
}

<h1>List of Cart Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form>
    <p>
        <label asp-for="Customer">Filter By Customer</label>
        <select asp-for="Customer" asp-items="ViewBag.Customer">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Customer
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Carts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartQuantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CartId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>